<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<h2>{{title}}</h2>
<table>
    <tr>
        <th>Country ID</th>
        <th>Country Name</th>
        <th>Region ID</th>
        <th>Region Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let country of items">
        <td>
            <p>{{country.id}}</p>
        </td>
        <td>
            <span> {{country.countryName}}</span>
        </td>
        <td>
            <span>{{country.region.regionId}} </span>
        </td>
        <td>
            <span>{{country.region.regionName}} </span>
        </td>
        <td> <button type="button" [ngClass]="{disabled : !enableButton}" class="btn btn-default" (click)="getCountryToEdit($event, country.countryId)">Edit</button>
        <td> <button type="button" class="btn btn-default" (click)="deleteCountry(country.countryId)">Delete</button>
    </tr>
</table>
